
<div class="header">
  <a
  routerLink="/">
    <img src="../../assets/images/logo.png">
  </a>
  <button
    class="btn-logging"
    mat-raised-button
    routerLink="/login"
    *ngIf="!(authService.token$ | async)">Bejelentkezés
  </button>
  <button
  class="btn-logging"
  mat-raised-button
  *ngIf="authService.token$ | async"
  (click)="logout()">Kijelentkezés
  </button>
  <div
    class="profile"
    >{{ (userService.currentUser$ | async)?.userName }}
  </div>
</div>
