.header {
  display: flex;
  align-items: center;
  width:100%;
  height:100px;
  background: rgb(29, 117, 133);
  color:white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.btn-logging {
  margin-left:12px;
}

.profile {
  margin-left:12px;
}

img {
  width: 100%;
  height: 100px;
  max-width: 200px;
}

.btn-logging:hover,
.btn-logging:active {
  font-weight: bold;
  color: rgba(19, 78, 88, 0.822);
  cursor: pointer;
}




