<div class="row">
  <div class="col-xs-12">
    <div class="login-flex">
      <div class="left-flex"></div>
      <div class="login">
        <div class="login-header">
          <mat-icon class="login-icon">input</mat-icon>
          <h1 class="login-header-text">Bejelentkezés</h1>
        </div>
        <form [formGroup]="signupForm">
          <div class="form-group">
            <mat-form-field class="form-group__username" id="form-field">
              <mat-label for="username" class="userdata-label">Felhasználónév</mat-label>
                <input
                  matInput
                  type="text"
                  class="userdata-input"
                  id="username"
                  formControlName="username">
            </mat-form-field>
            <mat-form-field class="form-group__password" id="form-field">
              <mat-label for="password" class="userdata-label">Jelszó</mat-label>
                <input
                  matInput
                  type="text"
                  class="userdata-input"
                  id="password"
                  formControlName="password">
            </mat-form-field>
          </div>
        </form>
        <button
        mat-raised-button
        class="btn-login"
        [disabled]="!signupForm.valid"
        (click)="login()">Bejelentkezés
        </button>
      </div>
      <div class="right-flex"></div>
    </div>
  </div>
</div>
