.form-group {
  display: flex;
  flex-direction: column;
}

.login-flex {
  display: flex;
}

.login {
  flex: 3 0 auto;
  text-align: center;
  width: 33%;
  color: rgba(19, 78, 88, 0.822);
}

.left-flex,
.right-flex {
  flex: 1 0 auto;
  width: 33%;
}

#form-field {
  width: 200px;
  align-self: center;
}

.mat-icon {
  margin-right: 12px;
}

.btn-login {
  background-color: rgba(19, 78, 88, 0.822);
  color: white;
}

.btn-login:hover,
.btn-login:active {
  cursor: pointer;
  background-color: white;
  color:rgba(29, 117, 133, 0.822)
}






