<h2 mat-dialog-title>Biztosan törli a munkatársat?</h2>
<mat-dialog-content>
  <p>A törlés gombra kattintva a munkatárs kitörlődik a rendszerből!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-primary (click)="delete()">Törlés</button>
  <button mat-raised-button mat-dialog-close (click)="close()">Vissza</button>
</mat-dialog-actions>
