.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  width:100%;
  height:100px;
  background-color: rgba(29, 117, 133, 0.822);
  color:white;
  top: 0;
}

.content {
  margin-top: 24px;
}



