.form-group__userdata{
  display: flex;
  flex-direction: column;
}

.user-flex {
  display: flex;
}

.user {
  flex: 3 0 auto;
  text-align: center;
  width: 33%;
  color: rgba(19, 78, 88, 0.822);
}

.left-flex,
.right-flex {
  flex: 1 0 auto;
  width: 33%;
}

.user-header {
  color: rgba(19, 78, 88, 0.822);
}

.userdata-label {
  text-align: center;
}

#form-field {
  width: 400px;
  align-self: center;
}

.btn-save {
  background-color: rgba(19, 78, 88, 0.822);
  color: white;
  width: 200px;
}

.btn-save:hover,
.btn-save:active {
  font-weight: bold;
  cursor: pointer;
}
