<div class="row">
  <div class="col-xs-12">
    <div class="user-flex">
      <div class="left-flex"></div>
      <div class="user">
        <h1 class="user-header">Adatok</h1>
        <form [formGroup]="userForm" class="form-group__userdata">
          <mat-form-field class="form-lastname" id="form-field">
            <mat-label for="lastName" class="userdata-label">Vezetéknév</mat-label>
              <input
                matInput
                type="text"
                class="userdata-input"
                id="lastname"
                formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="form-firstname" id="form-field">
            <mat-label for="firstName" class="userdata-label">Keresztnév</mat-label>
              <input
                matInput
                type="text"
                class="userdata-input"
                id="firstname"
                formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="form-username" id="form-field">
            <mat-label for="userName" class="userdata-label">Felhasználónév</mat-label>
              <input
                matInput
                type="text"
                class="userdata-input"
                id="username"
                formControlName="userName">
          </mat-form-field>
          <mat-form-field class="form-password" id="form-field">
            <mat-label for="password" class="userdata-label">Jelszó</mat-label>
              <input
                matInput
                type="text"
                class="userdata-input"
                id="password"
                formControlName="password">
          </mat-form-field>
          <mat-form-field class="form-phonenumber" id="form-field">
            <mat-label for="phoneNumber" class="userdata-label">Telefonszám</mat-label>
              <input
                matInput
                type="text"
                class="userdata-input"
                id="phonenumber"
                formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field class="form-email" id="form-field">
            <mat-label for="email" class="userdata-label">E-mail</mat-label>
              <input
                matInput
                type="email"
                class="userdata-input"
                id="email"
                formControlName="email">
          </mat-form-field>
        </form>
        <button
        mat-raised-button
        class="btn-save"
        [disabled]="!userForm.valid && !userForm.touched"
        (click)="saveUserData()">Mentés
        </button>
      </div>
      <div class="right-flex"></div>
    </div>
  </div>
</div>

