.users-header {
  display: flex;
}

.left-flex {
  flex: 1 0 auto;
  width: 33%;
}

.users-title {
  flex: 3 0 auto;
  text-align: center;
  width: 33%;
  color: rgba(19, 78, 88, 0.822);
}

.users-button {
  flex: 1 0 auto;
  text-align: end;
  width: 33%;
}

.btn-user-new {
  margin-right: 24px;
  background-color: rgba(19, 78, 88, 0.822);
  color: white;
}

.btn-user-new:hover,
.btn-user-new:active {
  cursor: pointer;
  background-color: white;
  color:rgba(29, 117, 133, 0.822)
}


.user-cards {
  display: flex;
  flex-direction: column;
}

.user-card {
  width: 500px;
  align-self: center;
  border: 2px solid rgba(29, 117, 133, 0.822);
  margin: 6px;
}

.user-card-edit,
.user-card-delete {
  background-color: rgba(19, 78, 88, 0.822);
  color: white;
}

.user-card-edit:hover,
.user-card-edit:active {
  cursor: pointer;
  background-color: white;
  color:rgba(29, 117, 133, 0.822)
}

.user-card-delete:hover,
.user-card-delete:active {
  cursor: pointer;
  background-color: white;
  color:red
}

.user-table {
  display: none;
  margin: 24px;
}

@media (min-width: 600px) {
  .user-table {
    display: block;
  }
  .user-cards {
    display: none;
  }
}
