<div class="users-header">
  <div class="left-flex"></div>
  <h1 class="users-title">Munkatársak</h1>
  <div class="users-button">
  <button
    mat-raised-button routerLink="/user-new" class="btn-user-new">Új munkatárs felvétele</button>
  </div>
</div>

<div class="user-cards">
  <mat-card
    class="user-card"
    *ngFor="let user of (userService.users$ | async)">
    <mat-card-header>
      <mat-card-title>{{ user.userName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list-item>Vezetéknév: {{ user.lastName }}</mat-list-item>
      <mat-list-item>Keresztnév: {{ user.firstName }}</mat-list-item>
      <mat-list-item>E-mail: {{ user.email }}</mat-list-item>
      <mat-list-item>Létrehozva: {{ user.createdAt | date }}</mat-list-item>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="user-card-edit" (click)="editUser(user.id)">Módosítás</button>
      <button mat-raised-button class="user-card-delete" (click)="requestDeleteUser(user.id)">Törlés</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="user-table">
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" >

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Név</mat-header-cell>
      <mat-cell *matCellDef="let users">{{ users.lastName }} {{ users.firstName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
      <mat-cell *matCellDef="let users">{{ users.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef id="table-createdAt">Létrehozás dátuma</mat-header-cell>
      <mat-cell *matCellDef="let users">{{ users.createdAt | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Törlés</mat-header-cell>
      <mat-cell *matCellDef="let users">
        <button (click)="requestDeleteUser(users.id)">Törlés</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Módosítás</mat-header-cell>
      <mat-cell *matCellDef="let users">
        <button (click)="editUser(users.id)">Módosítás</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<mat-paginator  [length]="userService.totalNumberOfUsers"
                [pageSize]="3"
                [pageSizeOptions]="[3, 5, 10]"
                (page)="paginatorChange()">
</mat-paginator>
